*.iml
.gradle
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild

.idea/*
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/copyright/
libs/
release/
tunnel/.idea/
tunnel/local.properties
tunnel/gradle/wrapper/
